*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #c1c1c4;
}
.fondo-naranja{
  background-color: #fc700c;
  height: 100px;
  width: 100%;
}


.tipografia{
  color: #ebecec;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  
}
.carousel{
  
  width: 500px;
  
  
}
.carro{
  
  list-style: none;
}
.carro:hover{
  border-radius: 100vh;
  background-color: gold;
}
.iconos{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
a{
  font-size: 50px;
  color: #ebecec;
  padding: 13px;
}
.redes{
  list-style: none;
  
}
.redes:hover{
  background-color: gold;
  border-radius: 50%;
}
a:hover{
  color: black;
}
.logo{
  position: absolute;
  left: 700px;
  
  top: 350px;
  
}
.borde{
  border-color: #fc700c;
  
}
.size{
  position: relative;
  left: 300px;
  width: 700px;
  height: 100%;
  
}
.detail{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 5px;
  padding-bottom: 10px;

}
.img-detail{
  width: 20%;
  padding-right: 5px;
}
.img-carrito{
  width: 180px;
}
.detalle{
  font-family: fantasy;
}