*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #c9c7c7;
}
.fondo-naranja{
  background-color: rgb(252, 112, 12);
  height: 66px;
  width: 100%;
}
.tipografia{
  color: rgb(235, 236, 236);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.carousel{
  display: flex;
  justify-content: center;
  width: 51%;
  
  
  
}